<h1>this is showing the product image</h1>

  <%# new_user_registration_path %>


  
<p id="notice"><%= notice %></p>

<div class="center jumbotron">
  <ul class="users">
    <%= render 'products/product_show' , :product => @product%>
  </ul>
</div>

<li><%= link_to "Edit", edit_product_path(@product %></li>